@model ASPMVC_Prezentacja.ViewModels.NameViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Witaj, @Model.FirstName @Model.LastName</title>
</head>
<body>
    <div>
        Witaj, @Model.FirstName @Model.LastName
    </div>
</body>
</html>

