@model ASPMVC_Prezentacja.ViewModels.NameViewModel
@{
    ViewBag.Title = "Jakis tytuł";
}

@using (Html.BeginForm("AcceptValue", "Post", FormMethod.Post))
{
    <p>
        @Html.LabelFor(dupa => dupa.FirstName)
        @Html.TextBoxFor(c => c.FirstName)
    </p>
    <p>
        @Html.LabelFor(c => c.LastName)
        @Html.TextBoxFor(c => c.LastName)
    </p>
    <p>
        <input type="submit" value="Wyślij" />
    </p>
}
